.cardsubjects{
 
  width: 379px;
  height: 437px;
  border: 1px solid rgb(161, 157, 157);
  margin-bottom: 30px;
  
}
.containerTittle{
   
  background-color: white;
  width: 100%;
  height: 89px;
  text-align: center;
  
}
.containerTittle h3{
  font-family: 'Quando';
  font-size: 35px;
  line-height: 80px;


}
.containerImag{

  width: 100%;
  height: 256px;
  overflow: hidden;

}
.containerImag img{
  width: 100%;
  height: 100%;
}
.containerMore{
  width: 100%;
  height: 92px;
  background-color: black;
  text-align: center;
  
}
.containerMore h4{
  font-family: 'Quando';
    font-size: 30px;
  color: #FFFFFF;
  line-height: 92px;
}
.lin{
  color: transparent;
}

@media(min-width:640px){

  .cardsubjects{

    width: 300px;
  }
}
@media(min-width:1024px){

  .cardsubjects{
 
    width: 220px;
    height: 320px;
    
  }
  .containerTittle{
   

    height: 64px;
   
    
  }
  .containerTittle h3{
  font-size: 25px;
  line-height: 64px;
  
  
  }
  .containerImag{
  
    height: 190px;
  
  }
  
  .containerMore{
    height: 67px;

    
  }
  .containerMore h4{
    font-size: 20px;
    line-height: 67px;
  }
}
@media(min-width:1240px){

  .cardsubjects{
 
    width: 260px;
    height: 320px;
    
  }
  
}