.state{
  background-color: #2F2C2C;
  width: 99px;
  height: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.button{
  width: 33px;
  
  font-size: 20px;
}
.select{
  width: 33px;
  font-size: 20px;
  background-color: white;
  color: black;
}
.min{
  font-size: 25px;
  width: 33px;
  height: 100%;
  background-color: #2F2C2C;
  color: white;
  line-height: 100%;
  text-align: center;

}