.subjects{
  background-image: url('../../Assets/fondo\ asignaturas.png');
 
}
.containerSubjects{
  display: grid;
  grid-template-columns: repeat(auto-fill,379px);
  gap: 30px;
  justify-content: center;
}
.tittle{
  width: 100%;
  text-align: center;
  height: 90px ;
  line-height: 90px;
  margin-bottom: 20px;
}
.tittle h2{
font-family: Playfair Display;
font-size: 40px;


}
@media(min-width:640px){
.containerSubjects{
  grid-template-columns: repeat(auto-fill,300px);
  gap: 10px;
}
}
@media(min-width:768px){
  .containerSubjects{
    grid-template-columns: repeat(auto-fill,300px);
    gap: 40px;
  }
  }

  @media(min-width:1024px){

    .containerSubjects{
      grid-template-columns: repeat(auto-fill,230px);
      gap: 30px;
    }
  }
  @media(min-width:1270px){

    .containerSubjects{
      grid-template-columns: repeat(auto-fill,230px);
      gap: 80px;
    }
  }