
*{
  margin: 0;
  padding: 0;
  border: 0;
}
.header{
  width: 100%;
  height: 15vh;
  background: rgba(69, 161, 247, 0.66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu{
  width: 100%;
  height: 100%;

}
ul{
  
  display: flex;
  width: 100%;
  justify-content: space-around;
  

}
li{
  font-size: 22px;
  list-style: none;
  color: black;
  text-decoration: none;
 
}
.lin{
  color:transparent;
}
a{
  text-decoration: none;

}
.containerLogo{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  
}
.containerImgLogo{
  height: 100%;
}
.containerImgLogo img{
  width: 100%;
  height: 100%;
}

.containerTittle{
  text-align: center;
}
.containerTittle h4{
font-family: 'Playfair Display', serif;
font-size: 20px;
line-height: 18px;
}
.containerTittle h5{
  font-family: 'Playfair Display', serif;
  font-size: 15px;
   line-height: 19px;
   padding-left: 29px;
  }



@media(min-width:1024px){

  .header{
    flex-direction: row;
    justify-content: space-between;
    
  }
  .menu{
  display: flex; 
  align-items: center;
 }
  .containerLogo{
    width: 50%;
    height: 70%;
  }
  .containerTittle h4{
    font-size: 24px;
    line-height: 24px;
    }
    .containerTittle h5{
      font-size: 18px;
       line-height: 19px;
       padding-left: 29px;
      }
      li{
        font-size: 24px;
        
       
      }
}