.footer{
  margin-top: 40px;
  background: rgba(69, 161, 247, 0.66);
  text-align: center;
}

.tittle h1{
  padding-top: 30px;
  font-family: 'Playfair Display';
}

.tittle{
  margin-bottom: 50px;
}
.tittle h2{
  font-family: 'Playfair Display';
  margin-bottom: 30px;
}
.tittle p{
  font-family: 'Playfair Display';
 font-size: 15px;

}
.buy{
margin-bottom: 40px;

}
.buy h2{
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.buy p{
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contact div{
  font-size: 35px;
  margin-right: 10px;
  
}
.contact h4{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
.copy{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  line-height: 20px;
  align-items: center;
  text-align: center;
 
}

.copy p{
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.copy div{
  font-size: 30px;
  margin-bottom: 20px;
}


@media(min-width:640px){

  .containerFoot{
    display: flex;
    justify-content: space-around;
  }
  .tittle h1{
   font-size: 25px;
  }
  
  .tittle h2{
    font-size: 25px;
  }
  .tittle p{
   
    font-size: 18px;
  }
  .buy h2{
    margin-top: 30px;
  }
}
@media(min-width:1024px){

  .ajust{
    display: flex;
    align-items: center;
  }
  .containerFoot{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 60%;
  }
  .tittle h1{
   font-size: 25px;
  }
  
  .tittle h2{
    font-size: 25px;
  }
  .tittle p{
   
    font-size: 18px;
  }
  .buy h2{
    margin-top: 30px;
  }
  .contact{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    
  }
  .contact div{
    font-size: 35px;
    margin-right: 10px;
    
  }
  .contact h4{
    font-size: 20px;
  }
  .copy{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
   
  }
  
  .copy p{
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .copy div{
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  
}