.tutors{
 
  background-image: url('../../Assets/fondo\ tutores.png');
  

}
.tutorsCards{
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  justify-content: center;
  gap:40px;

}

.containerTittle{
 width: 100%;
 text-align: center;
 height: 70px;
 line-height: 70px;

}
.containerTittle h3{
  font-family: Playfair Display;
  font-size: 35px;
 
  

}

@media(min-width:640px){

  .tutorsCards{
    gap:20px
  }
}
@media(min-width:768px){

  .tutorsCards{
    gap:40px
  }
}
@media(min-width:1024px){

  .tutorsCards{
    grid-template-columns: repeat(auto-fill,340px);
    gap:80px
  }
  .containerTittle h3{
    font-size: 42px;
  
  }
}
@media(min-width:1180px){

  .tutorsCards{
    grid-template-columns: repeat(auto-fill,230px);
    margin-left: 20%;
    gap: 80px;
    
  }
}
@media(min-width:1240px){

  .tutorsCards{
    gap: 120px;
    
  }
}